html{
    background: url("../images/background.jpg") no-repeat;
    background-size: cover;
    min-height: 100%;
}

.container{

    padding-left: 130px;
    padding-right: 130px;
        width: 100%;
    background-color: white;
    overflow: hidden;
}


.logout{
    float: right;
    margin-right: 30px;
    margin-top: -105px;
}

.viewbtn{
    border: 3px solid gray;
}

